@charset "UTF-8";
/* CSS Document */
body, html {
  width: 100%;
  background-color:black;
  background-attachment: fixed;
}

.calculator {
  width: 300px;
  height: 450px;
  background-color:lightsteelblue;
	border:thick;
	border-width:8px;
	border-color:darkslategrey;
	box-shadow: 3px 10px 56px 8px black;
	 border-radius:16px;
}
button {
  background-color: whitesmoke;
  color: black;
  padding: 20px;
  font-size: 26px;
margin:8px;
	margin-left:8px;
  cursor:pointer;
	margin-top:10px;
	border-style:outset;
	border-width:2px;
	border-radius:15px;
		box-shadow: 1px 1px 12px 1px black;
	width:3em;
}
h1{
	text-align:center;
	color:lightsteelblue;
}
h4{
	text-align:center;
	font-size:14px;
}

{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

#myVideo {
  position:fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}